<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pirates</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/famous-pirates">Famous Pirates</a>
    <a href="/pirate-text">Pirate Text</a>
    <a href="/contact-us">Contact Us</a>
  </nav>

  <%= yield %>
</body>
</html>