<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Making A Murderer</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/innocent">Innocent</a>
    <a href="/guilty">Guilty</a>
  </nav>

  <img src="images/avery.jpg" />

  <%= yield %>
</body>
</html>